    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row text-center" >
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="http://ashokdey.in">Ashok Dey</a> <%= new Date().getFullYear(); %></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
