<% include partials/header%>
    <div class="container text-center">
        <di class="row">
            <div class="col-md-6 col-md-offset-3">
                <img src="/icons/404.png" alt="" style="height:100px; width:100px;">
                <br>
                <h3 class="text-warning"> You are trying to access invalid links !</h3>
                <hr>
                <br>
                <h1>Are you lost?</h1>
                <br>
                <a href="/" class="btn btn-lg btn-success">Take me Home !</a>
            </div>
        </di>
    </div>
<% include partials/footer%>